h2: a(href="/posts/second-post") #{ title }
p Lorem ipsum Cupidatat non ut proident elit cillum nisi anim qui fugiat occaecat cupidatat id enim adipisicing sint commodo eiusmod incididunt anim laborum labore eiusmod enim reprehenderit eu nisi consectetur eiusmod magna nulla.
p Lorem ipsum Sint consectetur in Excepteur sit cillum deserunt Duis et ea labore.

p Lorem ipsum Esse exercitation aliqua aliquip veniam velit. Lorem ipsum Ut Ut exercitation deserunt.