!!!5
html(lang="en")
  head
    if (typeof title !== "undefined")
      title= title
    else
      title= globals.public.data.title
    link(rel="stylesheet", href="/css/main.css", type="text/css")
  body
    .wrap
      header.branding
        .pull-right
          a(href="/about") about me
        h1: a(href="/") #{ globals.blog.title }
      .content
        //- Don't modify this part unless you know what you're doing
        if current.path[0] === "posts"
          != partial("_decorator", { yield: yield })
        else
          != yield