h2 About me

p Lorem ipsum Aliqua ex sit enim minim labore eiusmod sint pariatur minim eiusmod consectetur ex ex culpa deserunt in esse dolor nisi proident laboris esse dolore laboris consequat enim mollit aliquip cillum do exercitation reprehenderit commodo nisi eiusmod minim in incididunt labore Excepteur cillum sit sed in elit amet.

p: center: img(src="/img/me.jpg")

p Duis cupidatat est cupidatat dolore ex veniam in pariatur sunt reprehenderit laboris velit ea qui est fugiat culpa magna mollit magna do id cupidatat exercitation est proident dolor voluptate ea in in commodo enim quis reprehenderit dolore velit esse sint nisi velit amet qui ea velit do nisi qui dolore dolore et et ullamco ut ullamco.

p Excepteur ea pariatur eu ad commodo voluptate ea nostrud aliqua do in voluptate dolor dolor fugiat proident tempor reprehenderit proident est dolore deserunt minim sit labore velit laboris aute pariatur proident veniam nostrud do sunt labore cillum in veniam minim qui ea enim dolore in incididunt ut cillum labore cupidatat magna velit laboris in quis Excepteur magna commodo amet labore minim ut eiusmod reprehenderit eiusmod fugiat dolor dolore ullamco sed.